# Ignore ROOT files
*.root

# Ignore Parquet files
*.parquet

# Ignore image files
*.png

# Ignore PDF files
*.pdf

# Ignore CSV files
*.csv

*.tar

*.tar.xz

*.log

*.pl


metaconditions/corrections/2017_Legacy_xgb/


process/

mgbasedir/

InputCards/

decay_chains.txt
